.whole{
    padding-top: 80px;
    background-color:rgb(156, 249, 249);

    margin: 0 -5px;
}
.whole2{
    background-color:rgb(156, 249, 249);
    opacity: 0.9;
}


.card1 {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:snow;
    transition: 0.3s;
    width:300px;
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 0 auto;
    display: grid;
    padding-left: 85px;
    padding-top: 10px;
    padding-bottom: 10px;

  }


  .card div{
    grid-row: 2/3;
    align-content: center;


  }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  }

  .container {
    padding: 2px 16px;
  }

.matter{
    position: absolute;
    top:35%;
    left:75%;
      width: 200px;
      height: 150px;
      padding:20px;
      background-color: rgb(121, 200, 222);
      border-radius: 10px;
      border-left: 10px black;
  }
