.wrapper{
    background-color: rgb(244, 236, 226);
}

.card {
    /* Add shadows to create the "card" effect */
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:silver;
    transition: 0.3s;
    width:300px;
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.matter{
    position: relative;
    top:60%;
    left:42%;
      width: 200px;
      height: 200px;
  }