ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
  }

  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }

  a {
    color: black;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  }



  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }



  /* below is just for demo styling */

  div {
    position: absolute;
    top:150px;
    left: 0;
    display: flex;
    height: 50vh;
    width: 100%;

    line-height: 1.3;
    font-family: Menlo, monospace;
  }
