*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.container1{
    margin-top: 50px;
    margin-bottom: 50px;
    background: white;
    width: 500px;
    padding: 100px;
    margin: 50px auto 0;
    border-top: 5px solid rgb(0, 200, 255);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.5);
}

.container h2{
    font-size: 54px;
    line-height: 44px;
    padding: 30px;
    text-align: center;

}

.input-name{
    width: 100%;
    position: relative;
    margin: 30px auto;
}

.country .name{
    width: 100%;
    padding: 8px 0 8px 40px;
}

.text-name{
    width: 100%;
    padding: 8px 0 8px 40px;
}